<h4>Weeks Post-Surgery: <span class='week'>{{week}}</span></h4>
{{#if numberNotZero}}
<div class='col-md-2'>
  <button type='button' class='btn btn-primary btn-sm'>{{#link-to 'week' prevWeek class='link-to'}}Previous Week{{/link-to}}</button>
</div>
{{/if}}
<div class='col-md-10'>
  <button type='button' class='btn btn-primary btn-sm'>{{#link-to 'week' nextWeek class='link-to'}}Next Week{{/link-to}}</button>
</div>
<div class='workout col-md-12'>
  {{weekly-workout/workout-form createWorkout='createWorkout'}}
</div>
{{#each sortedWorkout as |workout|}}
  {{weekly-workout/workout workout=workout deleteWorkout='deleteWorkout' updateWorkout='updateWorkout'}}
{{/each}}
