<h4>Weeks Post-Surgery: {{number}}</h4>
<div class='workout col-md-12'>
  {{weekly-workout/workout-form createWorkout='createWorkout'}}
</div>
{{#each workout as |workout|}}
  {{weekly-workout/workout workout=workout deleteWorkout='deleteWorkout' updateWorkout='updateWorkout'}}
{{/each}}
