<div class="form-group">
  <label>Week</label>
  {{input class="form-control"
          id="week"
          placeholder="Enter Week"
          value=week.number}}
</div>

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Enter week
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
