@import 'bootstrap';
@import 'bootstrap/theme';

.workout {
  margin: 0 0 10px;
}

.workout-form {
  float: left;
}

.btn {
  clear: both;
}

.workouts {
  padding: 0 0 25px 0;
  margin: 10px 0;
  height: auto;
  clear: both;
}

.link-to {
  color: white;
}

.link-to:hover {
  color: white;
  text-decoration: none;
}

.link-to:visited {
  color: white;
  text-decoration: none;
}

.goal {
  color: #E60909;
  text-align: center;
}

.week {
  color: #E60909;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
  font-size: 50px;
}

h5 {
  font-weight: 600;
  font-size: 15px;
}

.welcome {
  margin: 30px 0 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.goals {
  column-count: 3;
  column-rule: 2px solid #D033EF;
}

.goals-list {
  list-style-type: none;
  margin: 20px 0;
}

.goals-header {
  text-align: center;
  margin: 30px 0;
}

.week-div {
  margin: 20px 0;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
}

.goal-exercise {
  border-right: 2px solid #428bca;
}
