<div class='col-md-3'>
  <h4>Month: </h4>
  <div class='col-md-12'>
    <h6>Starting Place: </h6>
    <h6>Ending Place: </h6>
    <h6>Exercises: </h6>
  </div>
</div>
<div class='col-md-9'>
  {{weekly-workout
      workout=model
      num=model.[0].week
      createWorkout='createWorkout'
      deleteWorkout='deleteWorkout'
      updateWorkout='updateWorkout'
    }}
</div>
