<div class='col-md-12'>
  <div class='col-md-2'></div>
  <h4 class='col-md-8 welcome'>Welcome to ACWell, a site dedicated to helping those unlucky folks
    recovering from surgery to repair a torn ACL. This app will allow
    you to see goals and recommended exercises for each stage of the recovery
    process, and allow you to track your recovery regimen as you
    proceed down your road to recovery.<br />
    <br />
    Begin by selecting the number of weeks that have passed since your
    surgery from the header above.
  </h4>
  <div class='col-md-2'></div>
</div>
<div class='col-md-12'>
  <div class='col-md-2'></div>
  <div class='col-md-8'>
    <h2>Enter Number of Weeks Since Surgery</h2>

    {{weeks-form submit="submitWeek"}}
    <br />
    <br />
    <h6>The goals and recommended exercises contained on this site are not endorsed
      by any licensed physician, physical therapist, or medical group. Please follow
      these recommendations at your own risk. Please consult a medical professional
      for advice when recovering from ACL surgery.
    </h6>
  </div>
  <div class='col-md-2'></div>
</div>
